DISCORD_TOKEN=metti_token_bot_suport
SUPPORT_CREATE_CHANNEL_ID=metti_id_canale_vocale_creare_suport
SUPPORT_STAFF_ROLE_IDS=1516635039520260186
SUPPORT_CATEGORY_ID=0
SUPPORT_CHANNEL_PREFIX=‧🔊 ꜱᴜᴩᴩᴏʀᴛ
SUPPORT_USER_LIMIT=0
SUPPORT_DELETE_DELAY=1
NIXPACKS_PYTHON_VERSION=3.11
